@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Oswald);


@mixin body-font-normal {
  font-family: 'Lato' , helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin body-font-italic {
  font-family: 'Lato' , helvetica, verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin body-font-bold {
  font-family: 'Lato' , helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin headline-font {
  font-family: 'Oswald' , helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
}

$background-color: #fff;
$base-font-size: 22px;
$color: #262626;
$line-height: 1.45;
